@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Sunny';
  src: url('../public/fonts/Sunny.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Manga';
  src: url('../public/fonts/Manga.woff2') format('woff2');
  font-weight: 500;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 31, 31, 31;
  --background-end-rgb: 31, 31, 31;
  --dark: 31, 31, 31;
  --darkAccent: 52, 52, 52;
  --green: #86efac;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 31, 31, 31;
    --background-end-rgb: 31, 31, 31;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(var(--background-end-rgb));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 90%;
}

h1 {
  position: relative
}

h1:after {
  content: attr(data-text);
  -webkit-text-stroke: 12px rgb(var(--background-end-rgb));
  color: rgb(var(--background-end-rgb));
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1
}

body {
  overflow: hidden;
  background: rgb(var(--dark));
  color: white;
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.background {
  position: absolute;
  z-index: -20;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background::before {
  content: "";
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Ensures coverage during animation */
  height: 100%;
  background-image: url("../public/emojis/thought-emoji.svg");
  background-position: 0px 0px;
  background-repeat: repeat;
  background-size: 270px 270px;
  animation: scrollDiagonally 200s linear infinite;
  animation-play-state: var(--animation-play-state, running);
  animation-delay: 500ms;
  z-index: -10;
  opacity: 0.4;
}


@keyframes scrollDiagonally {
  to {
    background-position: 4800px -4800px;
  }
}



.backgroundOffset {
  position: absolute;
  z-index: -20;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.backgroundOffset::before {
  content: "";
  position: fixed;
  overflow: hidden;
  top: -135px;
  left: -135px;
  width: 150%;
  /* Ensures coverage during animation */
  height: 150%;
  background-image: url("../public/emojis/camera-emoji.svg");
  background-repeat: repeat;
  background-size: 270px 270px;
  animation: scrollDiagonally 200s linear infinite;
  animation-play-state: var(--animation-play-state, running);
  animation-delay: 500ms;
  z-index: -10;
  opacity: 0.4;
}


.loadCircle {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 6px solid rgb(var(--darkAccent));
  border-top-color: var(--green);
  animation: spin 2s ease-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}